/* Basic CSS styling for the login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    /* background-color: #f0f2f5; */
  }
  body{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%) !important; 
  overflow: hidden;
  }
  
  .login-form, .forgot-password-form {
    /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(9, 9, 9, 0.1);
    max-width: 400px;
    width: 100%;
    box-shadow: #626161 0px 1.5px 1.5px 1.5px;
    border: 0.5px solid black;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 25px;
  }
  
  .form-control.error {
    border-color: red;
  }
  
  .error-text {
    color: red;
    font-size: 0.875em;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .forgot-password, .back-to-login {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .forgot-password:hover, .back-to-login:hover {
    text-decoration: none;
  }
  .forgot-password-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
  }
  .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .form-control {
    padding-right: 30px; /* Add padding to make room for the icon */
  }
  
  .eye-icon {
    position: absolute;
    right: 26px;
    cursor: pointer;
  }
  
  .form-control.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.875em;
  }
  
  